@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

.App {
  color: rgb(30, 30, 30);
  font-family: "Montserrat", sans-serif;
}

.two-columns {
  display: flex;
  flex-direction: row;
}

.footer {
  background-color: rgb(225, 226, 228);
  height: 150px;
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a,
a:active {
  text-decoration: none;
  color: rgb(30, 30, 30);
}

a:hover {
  text-decoration: underline;
}

/* overlay */

.overlay {
  z-index: 1000;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 500;
}

.logo img {
  width: 40px;
}

.nav-top {
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.menu ul {
  display: flex;
}

.menu li {
  margin: 10px;
  list-style: none;
}

.socials li {
  list-style: none;
}

.socials img {
  width: 25px;
  margin-top: 10px;
  margin-right: 10px;
}

/* top Home */

.top-home {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.background {
  width: 70%;
  object-fit: cover;
}

.title {
  position: absolute;
  left: 20%;
  top: 35%;
  mix-blend-mode: hard-light;
}

.name {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  line-height: 5rem;
  margin: 0;
}

.subtitle {
  font-size: 1.1rem;
  margin: 10px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

.arrow {
  z-index: 10001;
  position: absolute;
  padding-bottom: 100px;
  bottom: 0;
  left: 10%;
  writing-mode: vertical-rl;
  border-left: 1px solid rgb(30, 30, 30);
}

/* about Me */

.about-me {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-left {
  width: 50%;
  margin-left: 100px;
  margin-right: 10px;
}

.about-right {
  width: 50%;
  margin-right: 100px;
}

.about-right ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.about-right img {
  width: 70px;
  margin: 20px;
}

.part-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0;
}

.description {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.8rem;
  width: 90%;
  line-height: 1.3rem;
}

.portrait {
  width: 40%;
}

/* portfolio */

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-right {
  align-self: flex-end;
  margin-right: 100px;
  margin-bottom: 100px;
}

.project {
  display: flex;
  margin-bottom: 50px;
}

.project-details {
  margin-left: 20px;
}

.project-image {
  width: 50%;
}

.project-title {
  font-weight: 600;
  margin-bottom: 0;
}

.project-description {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.8rem;
  margin-top: 5px;
}

/* .portfolio div:nth-child(2n + 1) {
  text-align: right;
  margin-right: 100px;
}

.portfolio div:nth-child(2n) {
  margin-left: 100px;
} */

/* Contact */

.contact {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 30px;
}

.contact-content {
  border: rgb(30, 30, 30) solid 3px;
  margin-top: 30px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-left,
.contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BLOG */

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 30px;
}

.blog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* BackOffice */

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-blog {
  display: flex;
  width: 100%;
}

.new-post {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}

.form-post {
  display: flex;
  flex-direction: column;
}

.postList {
  width: 50%;
}

.back-post {
  border: rgb(30, 30, 30) solid 1px;
  padding: 20px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.form-post input,
.form-post textarea,
.form-post button {
  margin-bottom: 30px;
}

@media screen and (max-width: 730px) {
  .name {
    font-size: 3rem;
  }

  .about-me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .about-left {
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-right {
    width: 80%;
    margin: 0;
  }

  .portfolio  {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
